<!-- <footer class="site-footer h-card">
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <h2 class="footer-heading">Product</h2>
          <ul class="footer-links">
            {% for link in site.footer_links.product %}
            <li><a href="{{ link.url | relative_url }}">{{ link.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
  
        <div class="footer-col">
          <h2 class="footer-heading">Company</h2>
          <ul class="footer-links">
            {% for link in site.footer_links.company %}
            <li><a href="{{ link.url | relative_url }}">{{ link.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
  
        <div class="footer-col">
          <h2 class="footer-heading">Connect</h2>
          <ul class="footer-links">
            <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer> -->


<footer class="footer">
    <div class="container">
        <ul>
            <li><a href="https://www.youtube.com/watch?v=Y3igJ1QaN28" target="_blank" rel="noopener noreferrer">Product Walkthrough</a></li>
            <li><a href="https://chromewebstore.google.com/detail/the-prompt-gallery/onaaoicjbkdhehgkejcllcdkiojkciif">Try Now</a></li>
            <li><a href="/thepromptgallery/privacy">Privacy Policy</a></li>
            <li>Support: <a href="mailto:kn.neeraj.2809@gmail.com">kn.neeraj.2809@gmail.com</a></li>
        </ul>
    </div>
</footer>