<section class="hero">
    <div class="hero-content">
      <h1 class="hero-title">{{ site.header }}</h1>
      <p class="hero-subtitle">{{ site.description }}</p>
      <div class="hero-buttons">
        <a href="https://www.youtube.com/watch?v=FQ4AiUjz3vM" class="button button-primary" target="_blank" rel="noopener noreferrer">Product Walkthrough </a>
        <a href="#" class="button button-outline">Get Started (Coming Soon!)</a>
      </div>
    </div>
    <div class="hero-images">
      <div class="hero-image">
        <img src="{{ '/assets/images/prompt-templates-button.jpg' | relative_url }}" alt="Prompt Templates Button">
      </div>
      <div class="hero-image">
        <img src="{{ '/assets/images/prompt-templates-dialog.jpg' | relative_url }}" alt="Prompt Templates Dialog">
      </div>
    </div>
  </section>