---
---

@import "minima";

/* Base and Typography Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Unified font style */
    background: #fff;
    color: #333;
    text-align: center; /* Center aligns all text by default */
}

.container {
    max-width: 1140px;
    margin: 0 auto; /* Centers the container */
    padding: 0 20px; /* Padding on the sides for some breathing room */
    text-align: center; /* Aligns text to the left within containers */
}

/* Header Styles */
.site-header {
    background: #f8f9fa;
    padding: 0.25rem 0; /* Padding top and bottom for the header */
    border-bottom: 1px solid #ccc;
    text-align: center; /* Centers text in the header */
    position: sticky;         /* Makes the header sticky */
    top: 0;                   /* Ensures it sticks to the top of the page */
    z-index: 1000;            /* Ensures it stays above other content */
    font-size: 0.8rem;        /* Reduces the font size; adjust as necessary */
}

.header-link {
    color: inherit !important;            /* Inherits the text color from the parent element */
    text-decoration: none;     /* Removes underline from links */
    font-weight: inherit;      /* Inherits the font weight from the parent element */
    background-color: transparent; /* Ensures no background color change on hover */
}

.header-link:hover, .header-link:focus {
    color: inherit !important;            /* Keeps the color the same on hover and focus */
    // text-decoration: none;     /* Ensures no underline appears on hover or focus */
}

/* Hero Section */
.hero {
    padding: 4rem 0; /* Increased vertical padding for more visual impact */
    background: #fff; /* Differentiates the hero section with a background */
}

.hero-content {
    margin: 0 auto; /* Centers hero content and provides space from other elements */
    max-width: 800px; /* Limits the width of the hero content for better readability */
}

.hero-title {
    font-size: 2.5rem; /* Larger font size for prominence */
    color: #333;
    margin-bottom: 1rem; /* Space below the title */
    font-weight: bold;
}

.hero-subtitle {
    font-size: 1.5rem;
    color: #2b2b2b;
    margin-bottom: 2rem; /* More space below the subtitle */
}

.hero-buttons {
    margin: 1rem 0; /* Margin around buttons for clear separation */
    text-align: center; /* Ensures buttons are centered */
}

/* Button Styles */
a.button {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 10px;
    display: inline-block;
    transition: background-color 0.3s ease; /* Smooth transition for hover effects */
    border: 2px solid transparent; /* Ensures button size remains consistent */
    cursor: pointer; /* Cursor indicates the element is clickable */
    color: #fff;
}

a.button-primary {
    color: #fff; /* White text color */
    background-color: #007bff; /* Blue background */
    border-color: #007bff; /* Blue border, not necessary unless for hover state */
    
    &:hover {
        background-color: darken(#007bff, 10%); /* Darken on hover for feedback */
    }
}

a.button-outline {
    color: #333; /* Blue text color matching the primary button background */
    background-color: transparent; /* No background color */
    border-color: #c6c7c8; /* Blue border to match the primary button background */

    &:hover {
        background-color: #b2b4b4; /* Fill background on hover */
        color: #333; /* White text color on hover */
    }
}

/* Mailing List Styles */
.mailing-list {
    background-color: #f6f8fa;
    padding: 2rem; /* Consistent padding for visual balance */
    margin-top: 2rem; /* Separates mailing list from content above */
    text-align: center;
}

/* Footer Styles */
.footer {
    background-color: #f6f8fa;  /* Light grey background */
    padding: 2rem 0;            /* Top and bottom padding */
    font-size: 0.875rem;        /* Smaller font size for footer text */
    color: #707070;             /* Grey text color for better readability */
    text-align: center;         /* Center align the text */
    border-top: 1px solid #eaeaea; /* Subtle top border */
}

.footer ul {
    list-style: none;          /* Remove list styles */
    padding: 0;                /* Remove padding */
    margin: 0;                 /* Remove margin */
    display: flex;             /* Display list items in a row */
    justify-content: center;   /* Center list items horizontally */
    flex-wrap: wrap;           /* Allow wrapping for smaller screens */
}

.footer ul li {
    margin: 0 15px;            /* Horizontal spacing between items */
}

.footer a {
    color: #707070;            /* Grey text color, matching the footer text */
    text-decoration: none;     /* Remove underline from links */
    transition: color 0.3s;     /* Smooth transition for hover effects */
}

.footer a:hover {
    color: #333;               /* Darker color on hover for better visibility */
}

.footer .container {
    width: 80%;                /* Control the width of the footer content */
    max-width: 1200px;         /* Maximum width */
    margin: 0 auto;            /* Centering the container */
}


/* Hero Image Container */
.hero-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border-radius: 8px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
    }
}

.hero-image {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width: 768px) {
        width: 48%;
        margin-bottom: 0;
        margin-right: 2%;

        &:last-child {
            margin-right: 0;
        }
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 4px;
    }
}


@media screen and (max-width: 600px) {
    .hero, .footer-col-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .hero-content, .hero-image, .footer-col {
        width: 100%; /* Full width for mobile compatibility */
        padding: 0;
    }

    .hero-buttons a.button {
        display: block; /* Stack buttons vertically on smaller screens */
        margin-bottom: 10px; /* Add margin for spacing between buttons */
        width: auto; /* Full width for mobile compatibility */
    }

    .footer ul {
        display: block; /* Stack list items vertically */
        text-align: center; /* Center-align the text */
    }
    .footer ul li {
        margin-bottom: 10px; /* Adds vertical space between each item */
    }
}

// Privacy policy
.privacy-policy {
    text-align: left;  /* Ensures all text in the privacy policy is left-aligned */
    margin-left: 0.5rem;

}